<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm a 2nd year computer engineering student at UBC's Vancouver campus, graduating in 2027. 
          There, I've had hands-on experience in software engineering and working with FPGA boards using SystemVerilog. 
          This year I joined the electronics subteam of the UBC Concrete Toboggan team, where I've contributed to a video game. 
          I also completed an engineering internship at Wood PLC in Calgary.</p>
      </div>
      <div class="col-lg-4">
        <p>Contact me at:
          <br> Phone: 403-828-8254
          <br> Email: henry.lacroix19@gmail.com </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="HlacroixResume.docx" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
